amqp
anyjson
asgiref
billiard
celery
click==8.0.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
dj-database-url==0.5.0
Django==3.2.10
django-celery-beat
django-celery-results
django-crispy-forms==1.13.0
django-on-heroku
django-timezone-field
gunicorn==20.1.0
jedi==0.17.2
kombu
parso
prompt-toolkit
psycopg2-binary
python-crontab
python-dateutil
pytz
redis
six
sqlparse
vine
wcwidth
whitenoise
