{% load crispy_forms_tags %}
{% load static %}
<title>Create Stage</title>
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href='{% static "styles.css" %}'>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="main">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="next" value="{% url 'jobboard:index' %}">
        <input type="submit" value="Submit">
    </form>
 
</div>