<!DOCTYPE html>
<html>
        <head>
            <div class="sidenav">
                {% if user.is_authenticated %}
                <div> <h2> Hi {{ user.username }}! </h2> </div>
                <a href="{% url 'jobboard:create_post'%}" > Create Post <span class = "glyphicon glyphicon-plus"></span></a>  
                <a href="{% url 'jobboard:get_updates'%}" class="button">Sign Up for Email Reminders</a> 
            <a href="{% url 'logout' %}"> Log Out <span class = "glyphicon glyphicon-log-out"></span></a>
            </div>

            <meta charset="utf-8">
            <title>My Job Applications</title>
            
            {% load static %}
            <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
            <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link rel="stylesheet" type="text/css" href='{% static "styles.css" %}'>
            <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
            <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script> 
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <style>
            .list-group-item{
            margin-top: 1%;
            margin-right: 1%;
            margin-bottom: 1%;
            margin-left: 1%;
            }
            body{
            margin-left:5%;
            padding: 0px 10px;
            }
            </style>
        </head>
        <body>
            <div class="container">
            <div class="row">
                    <ul class="list-group list-group-horizontal col-lg">
                        {% for stage in latest_stage_list %}
                            <li style="min-width:20%;" class="list-group-item ui-state-default">
                            <p> {{ stage.stage_title }} <a href="{% url 'jobboard:edit_stage' stage.id %}"><span class = "glyphicon glyphicon-edit"></span></a><a href="{% url 'jobboard:delete_stage' stage.id %}"><span class = "glyphicon glyphicon-remove"></span></a></p>     
                                <ul style = "min-height: 100px;" id = "{{ stage.stage_title }}" class="connectedSortable">
                                    {% for posting in stage.ordered_posting_set %}
                                        <li  id="entry_{{posting.id}}" class="ui-state-default card card-margin">
                                        <div class="card-body pt-0">
                                        <div class="widget-49">
                                        <div class="widget-49-title-wrapper">
                                            <div class = "widget-49-date-primary"><span class="widget-49-date-month">{{posting.deadline}}</span></div>    
                                        </div>
                                        <div class="widget-49-meeting-info">
                                            <span class="widget-49-pro-title"> {{posting.job_title}}</span>
                                        </div>
                                        <div class="widget-49-meeting-points">
                                            <p class = "widget-49-meeting-points"><span>{{posting.company}}</span></p>
                                        <a href = '{{posting.job_url}}' class = "widget-49-meeting-points">{{posting.job_url}}</a>
                                        <p class = "widget-49-meeting-points"><span>{{posting.job_email}}</span></p>
                                        </div>
                                        <div class="widget-49-meeting-action">
                                        <a class="btn btn-sm btn-flash-border-primary" href="{% url 'jobboard:detail_view' posting.id %}">More Info</a>
                                        </div>
                                        </div>
                                        </div>
                                        </li>
                                    {% endfor %}
                                </ul>  
                            </li>
                        {% endfor %}
                        <li >
                            <p style ="margin-left: 20%; margin-top: 100%;"><a  href="{% url 'jobboard:create_stage'%}" > Add Stage <span class = "glyphicon glyphicon-plus"></span></a></p> 
                        </li>  
                    </ul>

            </div>
            </div>
    
     </body>
{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">Log In</a>
{% endif %}
</html>
<script src="{% static 'js/jquery-sortable.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script>
$(function() {
    var csrftoken = Cookies.get('csrftoken');
    function csrfSafeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
    });

var group = $(".connectedSortable" ).sortable({
        connectWith: '.connectedSortable',
        delay: 500,
        update: function () {
            const arr = [];
            {% for stage in latest_stage_list %}
                var data = $(document.getElementById("{{ stage.stage_title }}")).sortable("serialize", {key:"id"});
                arr.push(data)
            {% endfor %}
            $.ajax({
                        type: "POST",
                        data: JSON.stringify(arr),
                        url: ""
                    });
        },
});
}).disableSelection();
</script>
  