<!DOCTYPE html>
<html>
{% if user.is_authenticated %}
Hi {{ user.username }}!
        <head>
            <meta charset="utf-8">
            <title>My Job Applications</title>
            {% load static %}
            <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
            <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
            <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
            <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script> 
        </head>
        <body>
            <ul>
                {% for stage in latest_stage_list %}
                    <li><a>{{ stage.stage_title }}</a>
                        <ul id = "{{ stage.stage_title }}" class="connectedSortable">
                            {% for posting in stage.ordered_posting_set %}
                                <li  id="entry_{{posting.id}}" class="ui-state-default"><a href="{% url 'jobboard:edit_post' posting.id %}">{{posting.id}}</a></li>
                             {% endfor %}
                        </ul>  
                    </li>
                {% endfor %}
            </ul>
              
        <p><a href="{% url 'logout' %}">Log Out</a></p>
    
     </body>
{% else %}
<p>You are not logged in</p>
<a href="/accounts/login/">Log In</a>
{% endif %}
</html>

<!-- required for CSRF cookie parsing //-->
<script src="{% static 'js/jquery-sortable.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script>
// get the Django CSRF Cookie
$(function() {
    var csrftoken = Cookies.get('csrftoken');
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
    });
// Make our ordered list with a class of example sortable.
// onDrop (reorder item) make a JSON representation of the list and POST the JSON to the current page
var group = $(".connectedSortable" ).sortable({
        connectWith: '.connectedSortable',
        delay: 500,
        update: function () {
            const arr = [];
            {% for stage in latest_stage_list %}
                var data = $("#{{ stage.stage_title }}").sortable("serialize");
                var jsonString = JSON.stringify(data, null, 2);
                arr.push(jsonString)
            {% endfor %}
            document.write(arr)
            var data1 = $("#Applied").sortable("serialize", {key:'id'});
            var jsonString1 = JSON.stringify(data1, null, 2);
            var data2 = $("#Assessment").sortable("serialize", {key:'id'});
            var jsonString2 = JSON.stringify(data2, null, ' ');
            var data3 = $("#Interview").sortable("serialize", {key:'id'});
            var jsonString3 = JSON.stringify(data3, null, ' ');
            $.ajax({
                        type: "POST",
                        data: {jsonString1, jsonString2, jsonString3},
                        url: ""
                    });
        },
});
}).disableSelection();
</script>
  